html {
    width: 600px;
    min-width: 600px;
    max-width: 600px;
    overflow: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.75rem;
    margin-bottom: 2rem;
}

nav a {
    all: unset;
    background: rgba(0, 0, 0, 0.2);
    height: 2rem;
    width: 2rem;
    display: grid;
    place-items: center;
    border-radius: 0.5rem;
    cursor: pointer;
}

nav a:hover {
    background: rgba(0, 0, 0, 0.3);
}

.nav-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

h1 {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0.875rem;
}

h1 img {
    align-self: center;
}

.heading {
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
    transform: translateY(1px);
    line-height: 1;
}

.heading span {
    font-size: 0.75rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

button,
label,
label input {
    cursor: pointer;
}

#status,
#status-css,
label input {
    position: absolute;
    opacity: 0;
}

#status,
#status-css,
button {
    font-size: 1.125rem;
}

* {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: 400;
}

body {
    background: #28292c;
    color: #fff;
    padding: 1.25rem 2rem;
    overflow: hidden;
}

.container {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    width: 100%;
    justify-content: space-between;
}

.container:last-of-type {
    margin-bottom: 0;
}

.container:first-of-type {
    margin-bottom: 1.25rem;
    margin-top: 1.5rem;
}

button {
    background-color: hsla(0, 0%, 100%, 0.1);
    color: #fff;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    border-radius: 1000rem;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
}

#status,
#status-css {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    background: #3e3e41;
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    padding: 0.5rem 1.25rem;
    height: 3rem;
    display: grid;
    place-items: center;
    box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    transition: transform 0.2s,
    opacity 0.2s;
}

#status.active,
#status-css.active {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}

select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    outline: none;
    color: white;
}

select option {
    color: black;
}

.select {
    position: relative;
    min-width: 10ch;
    max-width: 30ch;
    border: 2px solid hsla(0, 0%, 100%, 0.1);
    padding: 0.25em 0.5em;
    cursor: pointer;
    font-size: 0.875rem;
    background-color: hsla(0, 0%, 100%, 0.1);
}

.select-large {
    min-width: 20ch;
    max-width: 40ch;
}

.select:after {
    content: "";
    position: absolute;
    right: 0.25rem;
    top: 50%;
    transform: translateY(-50%);
    height: 1rem;
    width: 1rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.875' stroke='%23ffffff8a' height='20' width='20'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M8.25 15 12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-size: cover;
}

.discord-btn {
    background-color: #5865f2;
}

.discord-btn:hover {
    background-color: #4053d6;
}

.small-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: hsla(0, 0%, 100%, 0.1);
    color: #fff;
    padding: 8px 12px;
    padding-right: 16px;
    border: none;
    border-radius: 0.5rem;
    text-align: center;
    cursor: pointer;
    font-size: 0.875rem;
    width: fit-content;
    margin: 0;
}

.small-btn svg {
    width: 0.875rem;
    height: 0.875rem;
}

#css {
    display: none;
}

#editor-container {
    position: relative;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}

#editor-container * {
    font-family: "JetBrains Mono", Consolas, "Courier New", monospace !important;
}

.selector {
    color: #e06c75;
}

.property {
    color: #61afef;
}

.value {
    color: #98c379;
}

.comment {
    color: #5c6370;
}

.string {
    color: #e5c07b;
}

.important {
    color: #c678dd;
}

.punctuation {
    color: #abb2bf;
}

.note {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 1rem;
}

.note a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: underline;
    text-underline-offset: 0.1em;
}

.note a:hover {
    color: rgba(255, 255, 255, 0.75);
}

.note a:visited {
    color: rgba(255, 255, 255, 0.5);
}

#sync-indicator {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.2);
    backdrop-filter: blur(10px);
    color: white;
    border-radius: 3px;
    font-size: 12px;
    font-family: "JetBrains Mono", monospace;
    z-index: 1000;
    display: none;
}

#sync-indicator.success {
    color: #4caf50;
}

#sync-indicator.error {
    color: #ff7961;
}

.ie-utils {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;
    margin-top: 1rem;
}

.CodeMirror-hints {
    background: #28292c !important;
    border: 1px solid #3e3e41 !important;
}

.CodeMirror-hint {
    color: #fff !important;
}

#theme-selector {
    max-width: 18ch;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding: 0;
}

.btn-group {
    display: flex;
    gap: 0.5rem;
}

.settings-group {
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.05);
    padding: 1.5rem;
    border-radius: 0.75rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.03) 0px 2px 4px -1px;
}

.settings-group > h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    color: #fff;
    display: flex;
    align-items: center;
}

.settings-group > h2 > svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.75rem;
}

.settings-group > p {
    font-size: 0.875rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 1.5rem;
    opacity: 0.75;
    margin: 0;
}

.tab-container {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 2rem;
    background: rgba(255, 255, 255, 0.05);
    padding: 0.25rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.03) 0px 2px 4px -1px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

.tab-container button {
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
    border: none;
    background: none;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    transition: background 0.2s,
    color 0.2s;
}

.tab-container button.active {
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px,
    inset rgba(255, 255, 255, 0.1) 0px 1px 0px 0px;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

label {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}

label input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkmark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.1);
    transition: 0.15s;
    border-radius: 0.375rem;
}

.checkmark:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    transition: 0.15s;
    border-radius: 0.375rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

input:checked + .checkmark {
    background-color: hsla(128, 0%, 100%, 0.5);
}

input:checked + .checkmark:before {
    transform: translateX(16px);
}

.text-group {
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px dashed rgba(255, 255, 255, 0.1);
    box-sizing: border-box;
}

.text-group p {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 0;
    font-size: 0.875rem;
}

.text-group .text-group__title {
    flex-shrink: 0;
}

.text-group > p > span:not(.text-group__title) {
    font-weight: 600;
    font-family: "JetBrains Mono", Consolas, "Courier New", monospace !important;
    text-align: right;
    flex-shrink: 0;
}

hr {
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.dots {
    flex-grow: 1;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.1);
}

.btn-danger {
    line-height: 1rem;
    background-color: rgb(239 68 68);
    transition: background-color 0.2s;
}

.btn-danger:hover {
    background-color: rgb(220 38 38);
}

.container > h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.container--small {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.sortable-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-block-start: 0;
    margin-block-end: 0;
    align-self: end;
    padding-inline-start: 0;
}

.sortable-item {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.675rem 0.375rem;
    border-radius: 0.5rem;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 0.875rem;
    font-weight: bold;
    width: 20em;
}

.sortable-item:active {
    cursor: grabbing;
    transform: scale(0.98);
    background: rgba(255, 255, 255, 0.08);
}

.sortable-item.dragging {
    opacity: 0.8;
    background: rgba(255, 255, 255, 0.1);
}

.sortable-handle {
    cursor: grab;
    width: 1em;
    height: 1em;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3C!-- Icon from Material Symbols by Google - https://github.com/google/material-design-icons/blob/master/LICENSE --%3E%3Cpath fill='white' d='M9 20q-.825 0-1.412-.587T7 18t.588-1.412T9 16t1.413.588T11 18t-.587 1.413T9 20m6 0q-.825 0-1.412-.587T13 18t.588-1.412T15 16t1.413.588T17 18t-.587 1.413T15 20m-6-6q-.825 0-1.412-.587T7 12t.588-1.412T9 10t1.413.588T11 12t-.587 1.413T9 14m6 0q-.825 0-1.412-.587T13 12t.588-1.412T15 10t1.413.588T17 12t-.587 1.413T15 14M9 8q-.825 0-1.412-.587T7 6t.588-1.412T9 4t1.413.588T11 6t-.587 1.413T9 8m6 0q-.825 0-1.412-.587T13 6t.588-1.412T15 4t1.413.588T17 6t-.587 1.413T15 8'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-right: 0.125rem;
    opacity: 0.5;
}

.sortable-handle:active,
.sortable-item.dragging .sortable-handle {
    cursor: grabbing;
}

.sortable-item > label {
    transform: translateY(-0.05rem);
    margin-left: 0.5rem;
    padding: 0;
    font-size: 0.875rem;
    font-weight: bold;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0.5rem;
}

.disabled-item {
    color: rgba(255, 255, 255, 0.5);
    cursor: not-allowed;
}

.checkbox-container {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
    max-width: 32px;
}

.checkbox-container input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-container .checkmark {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsla(0, 0%, 100%, 0.1);
    transition: 0.15s;
    border-radius: 0.375rem;
}

.checkbox-container .checkmark:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 15px;
    left: 0px;
    bottom: 0px;
    background-color: white;
    transition: 0.15s;
    border-radius: 0.375rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
}

.checkbox-container input:checked + .checkmark {
    background-color: hsla(128, 0%, 100%, 0.5);
}

.checkbox-container input:checked + .checkmark:before {
    transform: translateX(16px);
}

.provider-name {
    white-space: pre;
    margin-left: calc(36px + 0.5rem);
    font-size: 0.875rem;
    font-weight: bold;
}
