:root {
  --blyrics-gradient-stops: hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, 0.013) 8.1%,
    hsla(0, 0%, 0%, 0.049) 15.5%, hsla(0, 0%, 0%, 0.104) 22.5%,
    hsla(0, 0%, 0%, 0.175) 29%, hsla(0, 0%, 0%, 0.259) 35.3%,
    hsla(0, 0%, 0%, 0.352) 41.2%, hsla(0, 0%, 0%, 0.45) 47.1%,
    hsla(0, 0%, 0%, 0.55) 52.9%, hsla(0, 0%, 0%, 0.648) 58.8%,
    hsla(0, 0%, 0%, 0.741) 64.7%, hsla(0, 0%, 0%, 0.825) 71%,
    hsla(0, 0%, 0%, 0.896) 77.5%, hsla(0, 0%, 0%, 0.951) 84.5%,
    hsla(0, 0%, 0%, 0.987) 91.9%, hsl(0, 0%, 0%) 100%;
}

.blyrics-container {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Satoshi", "Avenir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1;
  position: relative !important;
  isolation: isolate;
  z-index: 1;
}

.blyrics-container > div {
  opacity: 0.33;
  transition: opacity 0.33s, transform 0.166s;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  word-break: break-word;
  transform: scale(0.95);
  transform-origin: left center;
  cursor: pointer;
}

.blyrics-container > div:first-child {
  padding-top: 2rem !important;
}

.blyrics-container > div:last-child {
  padding-bottom: 0rem !important;
}

.blyrics-container > div.blyrics--active {
  opacity: 1;
  transform: scale(1);
  cursor: default;
}

.blyrics--translated {
  opacity: 0.6;
  font-size: 2rem;
  font-weight: 600;
  white-space: pre-wrap;
}

#side-panel {
  min-width: 50%;
}

.loading-spinner.ytmusic-tab-renderer {
  margin: 0 0 0 !important;
}

#blyrics-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  opacity: 1;
  transition: height 0.2s, opacity 0.2s;
}

#blyrics-loader::before {
  content: "";
  display: block;
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  background: url("https://better-lyrics.boidu.dev/icon-512.png");
  background-size: cover;
  background-position: center;

  animation: spin 1s linear infinite;
}

#blyrics-loader::after {
  content: "Better Lyrics is searching for lyrics...";
  color: #fff;
  font-size: 2rem;
  margin-left: 1.5rem;
  font-weight: 700;
  font-family: "Satoshi", "Avenir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1;
  position: relative !important;
  isolation: isolate;
  z-index: 1;
  opacity: 0.33;
  animation: pulse 2s infinite;
}

#blyrics-loader:not([active]) {
  height: 0;
  opacity: 0;
}

@keyframes spin {
  from {
    transform: rotate(0deg) translateY(-50%);
  }
  to {
    transform: rotate(360deg) translateY(-50%);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.33;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.33;
  }
}

.blyrics-footer {
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: var(--ytmusic-body-line-height);
  color: #aaa;
  margin: 16px 0;
  cursor: default;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: fit-content;
  padding: 0.5rem 1.25rem;
  border-radius: 1000rem;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 4rem !important;
  margin-top: 0 !important;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  white-space: pre;
}

.blyrics-footer > a {
  color: #fff;
  text-decoration: none;
  text-underline-offset: 2px;
}

.blyrics-footer:hover > a {
  text-decoration: underline;
}

.blyrics-footer > img {
  margin-right: 1rem;
  margin-left: -6px;
}

.footer.style-scope.ytmusic-description-shelf-renderer:not(.blyrics--fallback) {
  display: none !important;
}

.footer.style-scope.ytmusic-description-shelf-renderer.blyrics--fallback {
  margin-bottom: 4rem !important;
}

yt-formatted-string[is-empty] {
  display: inherit !important;
}

ytmusic-player-page:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),
    var(--blyrics-background-img);
  filter: blur(100px) saturate(2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center !important;
  z-index: -100;
  transform: scale(1.2);
}

#tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"] {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 50px,
    rgba(0, 0, 0, 1) calc(100% - 50px),
    rgba(0, 0, 0, 0) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 50px,
    rgba(0, 0, 0, 1) calc(100% - 50px),
    rgba(0, 0, 0, 0) 100%
  );
  scrollbar-color: transparent transparent;
}

yt-formatted-string.text.style-scope.ytmusic-message-renderer {
  margin-top: 34px !important;
}

.text.ytmusic-message-renderer,
.subtext.ytmusic-message-renderer {
  color: rgba(255, 255, 255, 0.5) !important;
}

.blyrics--error {
  color: rgba(254, 226, 226);
  margin-bottom: 2rem !important;
  cursor: default;
  align-self: flex-start !important;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Satoshi", "Avenir", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: 1;
  opacity: 0.33;
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
  word-break: break-word;
}

#tabsContent > tp-yt-paper-tab:nth-child(3) {
  pointer-events: initial !important;
  cursor: pointer !important;
}

yt-formatted-string.non-expandable.description.style-scope.ytmusic-description-shelf-renderer:not(
    .blyrics--fallback
  ) {
  display: none !important;
}

yt-formatted-string.non-expandable.description.style-scope.ytmusic-description-shelf-renderer.blyrics--fallback {
  margin-block: 4rem !important;
}

#tab-renderer
  > ytmusic-message-renderer
  > yt-formatted-string.text.style-scope.ytmusic-message-renderer,
#tab-renderer
  > ytmusic-message-renderer
  > yt-formatted-string.subtext.style-scope.ytmusic-message-renderer {
  display: none !important;
}

ytmusic-message-renderer.ytmusic-tab-renderer {
  margin: 0 !important;
}

#blyrics-wrapper {
  margin-top: 16px;
}

@media (min-width: 615px) {
  ytmusic-player-page:not([video-mode]):not([player-fullscreened])
    #player.ytmusic-player-page {
    max-width: 400px !important;
    left: 50%;
    transform: translateX(-50%);
  }
  ytmusic-player-page:not(
      [is-video-truncation-fix-enabled]
    )[player-fullscreened]
    #player.ytmusic-player-page {
    max-width: 50%;
    mask-image: linear-gradient(to left, var(--blyrics-gradient-stops));
  }

  ytmusic-player-page:not(
      [is-video-truncation-fix-enabled]
    )[player-fullscreened]:not([video-mode])
    #player.ytmusic-player-page:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--blyrics-background-img);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    mask-image: linear-gradient(to left, transparent, black, black);
    backdrop-filter: blur(100px);
  }

  ytmusic-app-layout:not([is-mweb-modernization-enabled])[player-fullscreened]
    > [slot="player-page"] {
    height: 100% !important;
    width: 100% !important;
  }

  ytmusic-app-layout:not([is-mweb-modernization-enabled])[player-fullscreened]
    > [slot="player-page"]
    .tab-header-container {
    display: none !important;
  }

  ytmusic-app-layout:not([is-mweb-modernization-enabled])[player-fullscreened]
    > [slot="player-page"]
    #side-panel {
    transform: translateY(-7.5rem);
  }

  ytmusic-player-page:not([is-mweb-modernization-enabled])[player-fullscreened]
    .av.ytmusic-player-page {
    width: 50% !important;
  }

  ytmusic-app-layout[player-fullscreened][show-fullscreen-controls]
    > [slot="player-bar"] {
    width: 100%;
  }

  ytmusic-app-layout[player-fullscreened][show-fullscreen-controls]
    > [slot="player-bar"]
    .time-info.ytmusic-player-bar,
  ytmusic-app-layout[player-fullscreened][show-fullscreen-controls]
    > [slot="player-bar"]
    .right-controls-buttons.ytmusic-player-bar {
    color: #fff;
  }

  ytmusic-app-layout[player-fullscreened][show-fullscreen-controls]
    > [slot="player-bar"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: linear-gradient(to bottom, var(--blyrics-gradient-stops));
  }
}

@media (max-width: 936px) {
  #blyrics-wrapper {
    margin-inline: -1.5rem;
  }
}

@media (max-width: 615px) {
  .blyrics-container > div {
    margin-inline: 4rem !important;
  }
  .footer.style-scope.ytmusic-description-shelf-renderer {
    margin-inline: 2.5rem !important;
  }
  .blyrics-container:before {
    content: "";
    background: linear-gradient(
        to right,
        rgba(3, 3, 3, 1) 4rem,
        rgba(3, 3, 3, 0.5),
        rgba(3, 3, 3, 1) 96%
      ),
      var(--blyrics-background-img) !important;
    position: absolute;
    background-position: center !important;
    background-size: cover !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    filter: blur(80px) saturate(2);
    border-radius: 1rem;
  }

  .blyrics-container:after {
    transform: translateX(0) translateY(0) !important;
    content: "";
    position: absolute;
    top: -2rem;
    left: 0;
    bottom: -8rem;
    right: 0;
    z-index: -1;
    background: radial-gradient(
      circle at center,
      rgba(3, 3, 3, 0.1),
      rgba(3, 3, 3, 0.5)
    ) !important;
  }

  #tab-renderer[page-type="MUSIC_PAGE_TYPE_TRACK_LYRICS"] {
    mask-image: none;
    -webkit-mask-image: none;
  }
  ytmusic-player-page[is-mweb-modernization-enabled][player-fullscreened]
    #player-controls.ytmusic-player-page {
    max-width: 100vw;
  }
  ytmusic-player-page[is-mweb-modernization-enabled][player-fullscreened]
    #main-panel.ytmusic-player-page {
    padding: 0 !important;
  }
}
